.header .wrapper .brand{
    float: none;
}
.map-canvas .map, .map-canvas .items-list{
    width: 50%;
}
.infobox .inner .image img, .item .image a > img, .item .image > .inner > img {    
    max-height: 190px;
}
.item .wrapper{
    padding: 5px;
}
.map-canvas .results.grid li .item .wrapper .col-md-12, .map-canvas .results.grid li .item .wrapper .col-md-9{
    padding: 0px;
}
.map-canvas .results.grid li .item .wrapper .col-md-9 a{
    float: left;
}
.infobox .inner .image .description .meta{
    width: 87%;
}
.item .wrapper{
    min-height: 178px;
}

/*--------login and resistration style--------------*/

.log-in-modal{
    overflow-y: scroll;
}
.log-in-modal .modal-body .container{
    max-width: 100%;
}
.log-in-modal .social-icons{
    padding-left: 0;
}
.log-in-modal .social-icons li{
    list-style: none;
    margin: 10px auto;
}
.log-in-modal .social-icons li .btn{
    color: #fff;
    padding: 12px 20px;
}
.log-in-modal .social-icons li .fb-btn{
    background-color: #3B5998;
}
.log-in-modal .social-icons li .fb-btn:hover {
    background-color: #6A8BD2;
}
.log-in-modal .social-icons li .twitter-btn{
    background-color:  #55acee;
}
.log-in-modal .social-icons li .twitter-btn:hover {
    background-color: #8BC3EC;
}

.log-in-modal .social-icons li i{
    float: left;
}
.log-in-modal .reg-page .divider::before {
    border: 1px solid #ccc;
    content: "";
    left: 6%;
    margin-top: 10px;
    position: absolute;
    width: 40%;
}
.log-in-modal .reg-page .divider{
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
}
.log-in-modal .reg-page .divider::after {
    border: 1px solid #ccc;
    content: "";
    right: 6%;
    margin-top: 10px;
    position: absolute;
    width: 40%;
}

.log-in-modal .form-group .form-control {
    border: 1px solid #ccc;
    border-radius: 5px !important;
    box-shadow: none;
    padding-right: 45px;
}
/*.log-in-modal .form-group .fa{
    margin-top: -40px;
    position: absolute;
    right: 30px;
    font-size: 22px;
}*/
.log-in-modal .form-group {
    position: relative;
}
.log-in-modal .form-group .fa {
    margin: 0 ;
    position: absolute;
    right: 8px;
    top: 8px;
}
/*.log-in-modal .form-group .fa {
    margin-top: -30px;
     position: absolute; 
    margin-right: 8px;
    font-size: 22px;
    float: right;
}*/
@media screen and (min-width:481px){
    .log-in-modal .modal-dialog{
        max-width: 400px;
    }
}
@media screen and (max-width:480px){
    .log-in-modal .modal-dialog{
        max-width: 300px;
    }
}

.log-in-modal .log-in-btn {
    background-color: #ff5a5f;
    border: 1px solid #ff5a5f;
    border-radius: 5px;
    padding: 5px;
}
.log-in-modal .log-in-btn:hover {
    background-color: #ff7e82;    
}
.log-in-modal .btn-signup{
    color: #fff;
}
.log-in-modal label.checkbox.padding-0{
    white-space: normal;
}
.log-in-modal a.color-red{
    color: #ff513f;
}
.log-in-modal.sign-up-modal .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px auto;
    padding-right: 45px;
}

.log-in-modal.sign-up-modal .bootstrap-select {
    padding-right: 0px;
}
.log-in-modal.sign-up-modal .bootstrap-select .selectpicker{
    background-color: transparent;
    box-shadow: none;
}
/*.sign-up-modal .signupform i.fa {
    font-size: 22px;
    margin-top: -40px;
    position: absolute;
    right: 30px;
}*/

/*.sign-up-modal .signupform .fa {
    margin-top: -40px;
     position: absolute; 
    margin-right: 8px;
    font-size: 22px;
    float: right;
}*/

.forget-modal .forgetpwdfrm .form-control{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px auto;
    padding-right: 45px;
}
.forget-modal .forgetpwdfrm .fa {
    margin-top: -40px;
    /* position: absolute; */
    margin-right: 8px;
    font-size: 22px;
    float: right;
}

/*------------------------coupen style------------------------------------------*/
.coupons .item .couponsContent .block {
    padding: 4px 0;
}
.coupons .item .couponsContent .block .icon{
    background-color: transparent !important;
    color:#ff513f;
    left:0;
}
.coupons .item .couponsContent .block .icon .fa{
    color:#ff513f;
}
.coupons .item .couponsContent .block .text{
    margin-left: 30px;
}
.coupons .item .couponsContent {
    margin-left: -8px;
    margin-top: -10px;
}
.coupons .item .image .overlay .content h4{
    margin: 0;
}
.coupons .item .image .overlay .coupon-description{
    margin-top: 10px;
}
.coupons .item .image .overlay .coupon-address{
    margin-top: 10px;
}

.coupons .item .wrapper .coupon-price{
    background-color: transparent;  
    float: right;
}
.coupons .item .wrapper .coupon-name {
    min-height: 35px;
}

.coupons .item .coupon-price .priceBox {
/*    border: 1px solid #E0DEDE;*/
/*    border-radius: 5px;*/
    background-color: #777;
    margin-right: 1px;
    margin-top: 0px;
    min-width: 36px;
}
.coupons .item .coupon-price  .priceBox label {
    padding: 2px 6px;
    margin-bottom: 0;
    text-align: center;
}
.coupons .item .coupon-price .priceBox .label-block {
    display: block;
}
.coupons .item .coupon-price .priceBox .label-danger{
    background-color: #ff513f;
}
.coupons .item .coupon-price .priceBox .line-through {
    text-decoration: line-through;
}
 .coupons .item .image img {
    min-height: 250px;   
}
.coupons .item .quick-view{
    top:0;
}
.coupons .item .wrapper .discount-amount{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #ccc;
    color: #ff513f;
    display: block;
    font-weight: bold;
    padding: 4px 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
}
.coupons .item:hover .wrapper .discount-amount{
    display: none;
}
/*.coupons .item:hover .image img{
    transform: scale(1.5) rotate(20deg);
    transition: all 0.3s linear 0s;
}
.coupons .item{
    overflow: hidden;
}*/
.coupons .item .wrapper {
    min-height: auto;
    text-align: left !important;
}
.display-none{
    display: none;
}
.textfield-error{
    border: 1px solid #D30606 !important;
/*    background-color: #f2dede !important;*/
}
/*.error-message{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5px 10px;
    border-radius: 5px;
    width:100%;
}*/
.error-message {
    border-color: #ebccd1;
    color: #a94442;
    display: block;
    margin-top: -11px !important;    
    width: 100%;
}
/*---------------------------------coupon modal style-----------------------------*/

.coupon-modal .modal-wrapper{
    overflow-x: hidden;
    overflow-y: auto
}
.coupon-modal .modal-wrapper .modal-body{
    width: 100%;
}
@media screen and (min-width:480) and (max-width:767px){
    .coupon-modal .modal-wrapper{
        width:400px;
    }
}
@media screen and (max-width:320px){
    .coupon-modal .modal-wrapper{
        width:300px;
    }
}
@media screen and (min-width:768px){
    .coupon-modal .modal-wrapper{
        width:700px;
    }
}